#formset form {
  border: 1px solid;
  border-radius: .5rem;
  padding: .5rem;
  margin-left: .5rem;
  display: inline-block;
}

#formset form.red {
  border-color: red;
}
#formset form.blue {
  border-color: steelblue;
}
#formset form.green {
  border-color: green;
}

.loading-spinner {
  display: none; 
  position: relative;
  top: -330px;
  left: 450px;
  width: 150px;
}

#formset button {
  margin-right: .5rem;
}
#formset .formadd {
  float: right;
}
#formset button.inc,
#formset button.dec {
  width:3em;
}

#formset label {width:310px; height: 30px; display:block;}
#formset input {float:right; clear:both;}
